# Исключить временные файлы и директории
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
build/
dist/
.eggs/

# Исключить виртуальные окружения
venv/
env/
ENV/

# Исключить скрытые файлы и директории
.*
!.gitignore

# Исключить файлы, созданные IDE
.idea/
.vscode/